/* Squares grid styles */
.squares-wrapper {
    display: flex;
    justify-content: left;
    background-color: #41434C;
    color: #FFFFFF;
    padding-top: 20px;
    padding-left: 20px;
    box-shadow: inset -200px 2px 78px -4px rgba(0,0,0,1);
}

.squares-wrapper > .square {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: -4px;
    padding-top: 20px;
}

.squares-wrapper > .square > .square-text-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 55px;
}
.squares-wrapper > .square > .square-text-wrapper > .text-wrapper {
    font-size: 30px;
}

.squares-wrapper > .square > .square-text-wrapper > .text-wrapper > .texto-normal1 {
    font-size: 35px;
}

.squares-wrapper > .square > .square-text-wrapper > .text-wrapper > .texto-negrita {
    font-size: 35px;
    font-weight: bold;
}

.squares-wrapper > .square > .square-text-wrapper > .text-wrapper > .btn-wrapper {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.squares-wrapper > .square > .square-text-wrapper > .text-wrapper > .btn-wrapper > .sing-btn{
    background-color: #47CF73;
    color: black;
    padding: 10px;
    border-radius: 2px;
}

.squares-wrapper > .square > .square-text-wrapper > .text-wrapper > .btn-wrapper > .learn-btn{
    background-color: black;
    padding: 10px;
    border-radius: 2px;
}

.square > .img-wrapper img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}


.squares-wrapper > .square > .img-wrapper > .texto-fucsia {
    color: lightskyblue;
}